.buttons7{
    
    margin-left: 15rem;
    margin-top: 4rem;
    display: flex;
    
}

.button7{
    width: 19rem;
    color: white;
    background-color: #F97B22;
    height: 3rem;
    border-radius: 12px;
    border-width: 0;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    transition: all 0.3s ease;
}

.button7:hover{
    background-color: black;
    color: white;
}

.main-div7{
    width: 75%;
    display: flex;
    background-image: url("../images/homeBg.jpg");
    margin-left: auto;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.title7{
    font-size: 2.5rem;
    margin-top:10rem;
    margin-left: 17rem;
    color: #3B1B0E;
    font-family: 'Comfortaa', cursive;
    width: 300px;
}

.sub-title7{
    margin-left: 17rem;
    color: #3B1B0E;
    font-family: 'Comfortaa', cursive;
}

